*
html,body{
	margin:0;
	padding:0;
	height:100%;
	}
	
#principal{
	text-align:left;
	background-color:#FFF;
	height:100%;
	}
#divEsquerda{
	border: 2px solid #000;
	background-color: #333;
	float:left;
	width:300px;
	height:100%;
	position:fixed;
	}	
#divMenu{
	border: 1px solid #999;
	float:height;
	width:100%;
	height:auto;
	position:fixed;
	background-color: #FFF; 
	margin: 0px 0px 0px 304px;
	}
#divConteudo{
	float:height;
	margin: 0px 0px 0px 304px;
	padding-top:125px;
	}
html, body
	{
	_height: 100%;
	_overflow: auto;
	}
div {
	_position: absolute;
}	
/*Menu superior*/
#menu ul li{
	display:inline;}
#menu ul li a{
	color: #333; font:18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; padding:13px 30px;}	

/*menu esqueda*/
#menuEsquerda ul{
	width:300px;
	height:auto;
	background-color: #3CB371;
	display:block;
	margin:0;
	padding:0;
	width:300px;}
#menuEsquerda li{
	list-style:none;
	display:block;
	width:100%;
	height:auto;
	border-bottom:2px solid #fff;
	color:#fffafa;
	font-family:helvetica;
	font-size:18px;
	padding:18px;
	text-align:center;
	}
#menuEsquerda li:hover{
	background: #F60;
	width:266px;
	}
#menuEsquerda li{
	-webkit-transition:all .9s ease;
	-moz-transition:all .9s ease;
	-ms-transition:all .9s ease;
	transition:all .9s ease;
	}
#logo img{
	padding:30px 15px 30px 15px;
	}


	
