<!DOCTYPE html>
<html lang="pt">
  <head> 
    <meta charset="utf-8" />
        <title>Classmate - FATEC JD</title>
         <!-- MEU CSS -->
         <link rel="stylesheet" href="../View/assets/css/estilo.css" />
  </head>
   <body>
        <!--Logo-->
    	<center>
            <div id="logo" >
                     <img id="logo" src="..\view\assets\img\teste2.png" style=" width: 450px; height:200px; position:relative; ">
            </div>
   	</center>
   
      <!-- NOVO FORM DE LOGIN -->
 	<div id="box">
        <div id="formularios">
    
            <!-- formulario de cadastro!-->
            <form name="login" method="post" action="../controller/login-controller.php" > 
                <fieldset>
                
                    <legend align="center">Login</legend>
                     
                    <label>
                        <span>RA:</span>
                        <input type="text" name="ra" id="ra" />
                    </label>
                    
                    <label>
                        <span>Senha:</span>
                        <input type="password" name="senha" id="senha" />
                    </label>
                    
                    <input type="submit" name="logar" valor="logar" value="Logar" class="botao" />

                </fieldset>
            </form>
        
        </div><!--cadastro-->
    </div><!-- box-->
    
  </body>
</html>
