<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

        <?php
            header("Content-Type: text/html; charset=ISO-8859-1",true);
            session_start();
            if(!isset($_SESSION['login'])){
                header('location:../index.php');
            }
            require '..\controller\montarperfil-controller.php'; 
        ?>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ClassMate</title>
<link href="assets/estilo.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>

<div id="principal">

	<div id="divEsquerda">
    	
        <div id="logo">
        	<img  id="logo" src="imagens/logo.png" />
        </div>
       
        <div id="menuEsquerda">
        	
            <ul>
            	<li> Disciplinas</li>
              	<li> Sala</li>
                <li> Grupos</li>
            </ul>
            
        </div>
        
    </div>
    
    <div id="divMenu">
    	
        <div id="menu">
        	
            <ul>
            	<li> <a href="#">Arquivos</a> </li>
              	<li> <a href="#">Alunos</a> </li>
                <li> <a href="#">Professores</a> </li>
                <li> <a href="#">Atualizações</a> </li>
                <li> <a href="#">Comunicado</a> </li>
            </ul>
            
        </div>
        
    </div>

</div>

</body>
</html>